<%- include('layout', { body: `
    <div class="loans-container">
        <div class="loans-row">
            <div class="loans-col">
                <h1 class="loans-title">Loans</h1>
                <p class="loans-subtitle">Get in touch with our team</p>
            </div>
        </div>
    </div>
` }) %>