<%- include('layout', { body: `
    <div class="container py-5">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="display-4 fw-bold text-dark mb-4">Transfer</h1>
                <p class="lead text-dark">Get in touch with our team</p>
            </div>
        </div>
    </div>
` }) %>